Agreements with client:
Overview of stats, salaries, statistics related to products.
Different contracts: full time, part time (40 hours/12 hours)
administrators should be able to assign employees to shifts.
If there's gaps in schedule it is filled with shifts of 8 hours.
Employees can't have more work hours than they have in their contract.
If not enough employees, call employees from pool, they have 0 hour contracts.
2 adjacent shifts aren't allowed.
Employees can signal if they prefer night shifts or not.
Employees must be able to indicate trough the app when they can't arrive for work.




Functional requirements:
Database integration.
Sensitive employee and company data will be encrypted and only readable by administrators (not MD5).
The app should be able to run on multiple systems concurrently, without any performance compromise.
Smart shift assignment (administrators shouldn't be able to assign an employee too many hours of work on a certain day or week).
Employees must not be able to see or access sensitive company information.
Security against malicious attacks (e.g. an employee finds it funny to dump the whole database)




