body {
	font-family: Arial, Helvetica, sans-serif;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.header {
    padding: 28px;
    margin: auto;
    text-align: center;
    background: #11589b;
    color: white;
    font-size: 28px; 
  }

  label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #11589b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #186fc0;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 2%;
  margin:10%;
  margin-top: 5%;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
   .container {
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 15px;
    margin-top: 20%;
	}
  
}
